server {
  listen [::]:443;
  listen 443;

  server_name <%= @server_name %>;

  client_max_body_size 20m;

  location / {
    proxy_pass http://<%= @server %>;
  }
}

server {
  listen [::]:80;
  listen 80;
  server_name www.<%= @server_name %> <%= @server_name %>;
  return 301 https://<%= @server_name %>$request_uri;
}

server {
  listen [::]:443;
  listen 443;
  server_name www.<%= @server_name %>;
  return 301 https://<%= @server_name %>$request_uri;
}

upstream <%= @server %> {
    server <%= @server_ip %>:<%= @service_port %>;
}
