#!/bin/bash

TARGET_DIR=/tmp/backup/portal
BACKUP_DIR=/usr/share/noosfero/tmp/backup

LOG_FILE=/var/log/portal_backup.log
LOG_FORMAT=[%b_%a_%Y-%m-%d-%R][portal-backup]

echo "Data do backup: " $(date +%Y/%m/%d-%R)

echo $(date +$LOG_FORMAT) \
  $(scp -P 21 -r root@<%= node['peers']['portal-external'] %>:$BACKUP_DIR/* $TARGET_DIR && echo "SCP to <%= node['peers']['portal-external'] %>. Success!") >> $LOG_FILE

